@import './colors.scss';

.container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  background: $background;
  border-radius: 0 16px 16px 16px;
  padding: 5px 16px;
  justify-content: center;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 5px;
    color: $black;

    .author,
    .time {
      font-size: 0.9rem;
      font-weight: 600;
    }
  }

  .message {
    justify-content: flex-end;
    font-size: 0.9rem;
    align-self: flex-end;
  }
}
